package commands

import (
	"fmt"
	"os"

	"github.com/spf13/cobra"
)

var rootCmd = &cobra.Command{
	Use:     "{%.Name%}",
	Short:   "{%.Name%} cli",
	Version: "v0.0.1",
}

func Execute() {
	if err := rootCmd.Execute(); err != nil {
		fmt.Fprintf(os.Stderr, "Oops. An error while executing {%.Name%} '%s'\n", err)
		os.Exit(1)
	}
}
