package {%.Plural%}_usecases

import (
	"context"
	"uuid"

	{%.Plural%}_entities "{%.Module%}/internal/containers/{%.FolderPlural%}/entities"
	"{%.Module%}/internal/contracts"
)

type Delete{%.Pascal%}ByIDUseCase struct {
	Repository contracts.IRepository[{%.Plural%}_entities.{%.Pascal%}, {%.Plural%}_entities.{%.Pascal%}]
}

func NewDelete{%.Pascal%}ByIDUseCase(repository contracts.IRepository[{%.Plural%}_entities.{%.Pascal%}, {%.Plural%}_entities.{%.Pascal%}]) Delete{%.Pascal%}ByIDUseCase {
	return Delete{%.Pascal%}ByIDUseCase{
		Repository: repository,
	}
}

type Delete{%.Pascal%}ByIDUseCaseInput struct {
	ID *uuid.UUID
}

type Delete{%.Pascal%}ByIDUseCaseOutput struct{}

func (u Delete{%.Pascal%}ByIDUseCase) Perform(ctx context.Context, input Delete{%.Pascal%}ByIDUseCaseInput) (*Delete{%.Pascal%}ByIDUseCaseOutput, error) {

	if err := u.Repository.Delete(ctx, input.ID); err != nil {
		return nil, err
	}

	return nil, nil
}
