package rabbitmq

import (
	"context"

	"{%.Module%}/pkg/dotenv"
	amqp "github.com/rabbitmq/amqp091-go"
)

func NewRabbitMQConn(ctx context.Context, cfg dotenv.RabbitMQ) (*amqp.Connection, error) {

	conn, err := amqp.Dial(cfg.Uri)
	if err != nil {
		return nil, err
	}

	return conn, nil
}

func Publish(ctx context.Context, conn *amqp.Connection, queue string, body []byte) error {

	ch, err := conn.Channel()
	if err != nil {
		return err
	}
	defer ch.Close()

	if _, err := ch.QueueDeclare(queue, true, false, false, false, nil); err != nil {
		return err
	}

	return ch.PublishWithContext(ctx, "", queue, false, false, amqp.Publishing{
		ContentType:  "application/json",
		DeliveryMode: amqp.Persistent,
		Body:         body,
	})
}
